#redrock{
    float: center;
    font-style: oblique;
    color: #B95C50;
    font-size: xx-large;
    overflow: hidden;  
    border: 2px solid #B95C50; 
    background-color: #FADCD9;
}



.btn-group button {
    background-color: #FADCD9; 
    border: 1px solid #FADCD9;
    color: #F9F1F0;
    padding: 15px 40px;
    cursor: pointer;
    text-align:center;
    height: 30%;
  }
  .btn-group button:hover {
    background-color: #F8AFA6;
  }
  
  .site-footer {
    background: orange;
  }
  
  #footer-content {
    background: black;
    color: white;
    height: 300px;
  }